.HomeRight {
  /* background-image: url(../../../public/media/bg.png); */
  background-color: black;

  color: white;
  margin-left: 205px;
}
.Home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.Home_content {
  color: white;
  font-size: 30px;
}
.Home_img {
  height: 100px;
  width: 100px;
}
#stacks {
  color: aqua;
}
